name: Security
on:
  # it can work well only if started via push trigger
  push:
    #types: [synchronize,opened,reopened]

permissions:
  contents: read
  pull-requests: write
  statuses: write
  checks: write

jobs:
  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  deny:
    name: Deny
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: EmbarkStudios/cargo-deny-action@v1
        with:
          log-level: warn
          command: check
          arguments: --all-features
          command-arguments: ""
          credentials: https://${{ secrets.GITHUB_USER }}:${{ secrets.GITHUB_PAT }}@g
