name: Security audit
on:
  push:
    #types: [synchronize,opened,reopened]

permissions:
  contents: read
  pull-requests: write
  statuses: write
  checks: write

jobs:
  security_audit:
    #name: Audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
