name: Rust

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: '0'

jobs:
  mongo:
    name: Build
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Create mongo Docker container
        uses: DigiPie/mongo-action@v1.0.1
      - name: Fill database
        run: |
          mongo < .github/mongo-setup.js        

  build:
    name: Build
    if: always()
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Set up cargo cache
        id: cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            target/
          key: "${{ github.workflow }}-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}"
      - name: Build
        run: cargo --locked build
#  test:
#    if: always()
#    needs: [build,next]
#  next:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v3
#      - uses: actions-rs/toolchain@v1
#        with:
#          toolchain: nightly
#          override: true
#      - name: Run tests
#        run: cargo test
#        env:
#          RUSTFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off'
#      - name: rust-grcov
#        uses: actions-rs/grcov@v0.1.5
#      - name: Codecov
#        uses: codecov/codecov-action@v3.1.0
#        with:
#          verbose: true
#          fail_ci_if_error: true
